@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&family=Ubuntu+Condensed&display=swap');

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  color: yellow;
  margin-top: 65px;
  font-family: 'Russo One';
  font-size: 80px;
  text-shadow: 0px 0px 15px yellow;
}

h2 {
  text-align: center;
  color: yellow;
  font-family: 'Russo One';
  font-size: 40px;
  text-shadow: 0px 0px 15px yellow;
}

p {
  margin: 0px;
}

.para {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu Condensed';
  border-radius: 10px;
  background: yellow;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  box-shadow: 0px 0px 25px yellow;
  font-size: 25px;
}

.center {
  text-align: center;
}

body {
  background-image: url(https://media1.giphy.com/media/XuBNdP9Pb7W9i/giphy.gif?cid=ecf05e47k9w3fodx096o51880fm2gi7flcyb81ufmw1w5nbb&rid=giphy.gif&ct=g);
  background-size: 100%;
}

a:link {
  color: yellow;
  text-decoration: none;
  transition: .3s;
}

a:visited {
  color: yellow;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  background: yellow;
  color: black;
  transition: .3s;
}

.flexnav {
  background-image: url(https://media2.giphy.com/media/xUOrwhKSshpMygcYG4/giphy.gif?cid=ecf05e47dayzolwa1ch3okcy33jn22j5gi27t5gs2qf4w3p4&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 10px;
  top: 0px;
  left: 0px;
  width: 100%;
  justify-content: space-evenly;
  text-decoration: none;
  box-shadow: 0px 5px 3px yellow;
  transition: .3s;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-size: 20px;

}

@media only screen and (max-width: 599px) {
  .yes {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .no {
    display: none;
  }
}
  
.bh {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.bgbtn {
  margin-top: 50px;
  background: yellow;
  border-radius: 90px;
  box-shadow: 0px 0px 15px yellow;
  padding: 10px;
  transition: .3s;
}

.bgbtn:hover {
  box-shadow: 0px 0px 50px yellow;
  transition: .3s;
}

.bg {
  background-image: url(https://media0.giphy.com/media/xKkh755i6vn32/giphy.gif?cid=ecf05e47z1f3er672fxecdqwbxbwqayhgw2lbtbdascgxeip&rid=giphy.gif&ct=g);
}